<%- include('layout/header', {'pageTitle' : 'Songs'}); %>
<h1 class="white-text">Songs</h1>
<div class="divider"></div>
<div class="row"></div>
<ul class="collection with-header">
  <li class="collection-header white-text grey">
    <div class="row">
      <div class="col s12 m5 l5">
        <h4>Song</h4>
      </div>
      <div class="col s12 m2 l2">
        <h4>Artist</h4>
      </div>
      <div class="col s12 m3 l3">
        <h4>Album</h4>
      </div>
      <div class="col s12 m2 l2 center-align">
        <h4>Length</h4>
      </div>
    </div>
  </li>
<% songs.forEach(function(song){ %>
  <% include songs/list_item.ejs %>
<% }) %>
</ul>
</div>
<% include layout/footer %>
