<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<head>
    <title><% pageTitle %></title>
</head>
<nav>
    <div class="nav-wrapper cyan darken-4">
        <a href="#" class="brand-logo right"></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="gridpractice.html">Artist</a></li>
            <li><a href="gridpractice2.html">Albums</a></li>
            <li><a href="gridpractice3.html">Songs</a></li>
        </ul>
    </div>
</nav>

<body class="body cyan darken-3">
<div class="container">