<%- include('../shared/header', {'pageTitle' : 'About'}); %>
<h3 class="white-text">About</h3>
<div class="divider"></div>
<p class="white-text">This music player app was developed by:</p>
<ul>
<% authors.forEach(function(author){%>
    <li><%= author.name %>
<%})%>
<% include ../shared/footer %>
